### Use Shift+Tab to get autofill suggestion in notebooks

In [168]:
import pandas as pd
import numpy as np
import re
df=pd.read_csv(r'C:\Users\SAL005\Desktop\hdm_backup\batch_2104010000_2107319999.csv')

### Word cloud using dictionary

In [131]:
l1='This is my demo text my'
l2=l1.split()
l2

['This', 'is', 'my', 'demo', 'text', 'my']

### d['key']=value

In [132]:
d={}
count=1
for i in l2:
    if i in d:
        d[i]=count+1
    else:
        d[i]=1

In [133]:
print(d)

{'This': 1, 'is': 1, 'my': 2, 'demo': 1, 'text': 1}

In [134]:
df

,REPORTFORMATTYPE,REPORTTYPE,DATASTRUCTVER,GENERATIONUTLVER,DATASOURCE,ENTITYNAME,RECATEGORY,UNIQUECODE,FIUREID,PONAME,...,YEAROFRPEPORT,OPERATIONALMODE,BATCHTYPE,ORIGINALBATCHID,REASONOFREVISION,BATCHID,PKICERTIFICATENUM,CREATIONDATE,CREATEDBY,XMLINDEXID
0,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,2021,P,N,0,N,2105157890,NaN,2021-05-19 18:14:21,FINCOREBACKUP1,1
1,ARF,NTR,2,0.1,txt,TATA AIG General Insurance Company Limited,FIINN,108,FIINN00021,Madhukar Sinha,...,2021,P,N,0,N,2105157891,NaN,2021-05-17 14:20:28,FINCOREBACKUP1,1
2,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,2021,P,N,0,N,2105157892,NaN,2021-05-19 18:24:14,FINCOREBACKUP1,1
3,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,2021,P,N,0,N,2105157893,NaN,2021-05-19 18:34:20,FINCOREBACKUP1,1
4,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,2021,P,N,0,N,2105157894,NaN,2021-05-19 18:44:44,FINCOREBACKUP1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45386,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,NA,P,N,0,N,2107246349,NaN,2021-07-26 07:22:39,FINCOREBACKUP1,1
45387,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,NA,P,N,0,N,2107246350,NaN,2021-07-26 07:23:05,FINCOREBACKUP1,1
45388,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,NA,P,N,0,N,2107246351,NaN,2021-07-26 07:23:18,FINCOREBACKUP1,1
45389,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,NA,P,N,0,N,2107246352,NaN,2021-07-26 07:23:29,FINCOREBACKUP1,1
45390,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,NA,P,N,0,N,2107246353,NaN,2021-07-26 07:23:45,FINCOREBACKUP1,1

### when filtering, use '&' but dont use 'and' keyword, use '|' rather than 'or'

In [161]:
df1=df[(df.REPORTTYPE=='STR') & (df.DATASTRUCTVER==2)] 
df2=df.loc[(df['REPORTFORMATTYPE']=='ARF') & (df['ENTITYNAME']=='Kotak Mahindra Bank Ltd.')]

### To assign value to a new column using condition based filtering, Where condition is true, set l1 as 1 else set to 0

In [162]:
l1=np.where((df['REPORTFORMATTYPE']=='ARF') & (df['ENTITYNAME']=='Kotak Mahindra Bank Ltd.'),1,0)
df['test']=l1

### To add a new concatenated column

In [163]:
df['new']=df['REPORTFORMATTYPE'].astype(str)+'||'+df['REPORTTYPE'].astype(str)

### To drop multiple columns, use axis=0 to delete rows

In [164]:
df=df.drop(['test','new'],axis=1)

In [158]:
df

,REPORTFORMATTYPE,REPORTTYPE,DATASTRUCTVER,GENERATIONUTLVER,DATASOURCE,ENTITYNAME,RECATEGORY,UNIQUECODE,FIUREID,PONAME,...,OPERATIONALMODE,BATCHTYPE,ORIGINALBATCHID,REASONOFREVISION,BATCHID,PKICERTIFICATENUM,CREATIONDATE,CREATEDBY,XMLINDEXID,new
0,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,P,N,0,N,2105157890,NaN,2021-05-19 18:14:21,FINCOREBACKUP1,1,TRF||EFT
1,ARF,NTR,2,0.1,txt,TATA AIG General Insurance Company Limited,FIINN,108,FIINN00021,Madhukar Sinha,...,P,N,0,N,2105157891,NaN,2021-05-17 14:20:28,FINCOREBACKUP1,1,ARF||NTR
2,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,P,N,0,N,2105157892,NaN,2021-05-19 18:24:14,FINCOREBACKUP1,1,TRF||EFT
3,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,P,N,0,N,2105157893,NaN,2021-05-19 18:34:20,FINCOREBACKUP1,1,TRF||EFT
4,TRF,EFT,2,0.1,txt,ICICI BANK LTD,BAPVT,639,BASCB00072,MANISH BHANDARI,...,P,N,0,N,2105157894,NaN,2021-05-19 18:44:44,FINCOREBACKUP1,1,TRF||EFT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45386,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,P,N,0,N,2107246349,NaN,2021-07-26 07:22:39,FINCOREBACKUP1,1,ARF||STR
45387,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,P,N,0,N,2107246350,NaN,2021-07-26 07:23:05,FINCOREBACKUP1,1,ARF||STR
45388,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,P,N,0,N,2107246351,NaN,2021-07-26 07:23:18,FINCOREBACKUP1,1,ARF||STR
45389,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,P,N,0,N,2107246352,NaN,2021-07-26 07:23:29,FINCOREBACKUP1,1,ARF||STR
45390,ARF,STR,2,GEN,xml,Kotak Mahindra Bank Ltd.,BAPVT,18,BASCB00079,Arti Shekhar,...,P,N,0,N,2107246353,NaN,2021-07-26 07:23:45,FINCOREBACKUP1,1,ARF||STR

### To apply a function to a column in dataframe

In [169]:
def clean(i):
    i=re.sub('\d+',' ',i)
    i=re.sub(r'[\.\-_\)@$\(:+/]',' ',i)
    i=re.sub(r'[^A-Za-z]',' ',i)
    i=re.sub('\s+',' ',i)
    return i

df['ENTITYNAME'] = df['ENTITYNAME'].apply(clean)